// BEGIN HEADER

section.section-header.flex-row.flex-row--center-column
	.header__title.title--first Slavik
	.header__title.title--second Sukhanov
	.header__position Designer / Programmer



// END HEADER