include mixins/_include

// begin inner footer

footer.i-footer
	.container
		
		.i-footer-title Напишите мне
		
		.p-social
			a(href="#link")
				+icon('logo-facebook', 'logo-facebook--mod')
			a(href="#link")
				+icon('logo-vk', 'logo-vk--mod')
			a(href="#link")
				+icon('logo-codepen', 'logo-codepen--mod')
			a(href="#link")
				+icon('logo-linkedin', 'logo-linkedin--mod')
			a(href="#link")
				+icon('logo-github', 'logo-github--mod')

		//- .i-footer-date 2016.

// end inner footer