include mixins/_include

// begin inner footer

footer.i-footer
	.container
		
		.i-footer-title Напишите мне
		
		.p-social
			//- a(href="https://facebook.com/" target='_blank')
			//- 	+icon('logo-facebook', 'logo-facebook--mod')
			a(href="https://vk.com/slaviksukhanov" target='_blank')
				+icon('logo-vk', 'logo-vk--mod')
			a(href="http://codepen.io/webslavik/" target='_blank')
				+icon('logo-codepen', 'logo-codepen--mod')
			a(href="https://ua.linkedin.com/in/slaviksukhanov" target='_blank')
				+icon('logo-linkedin', 'logo-linkedin--mod')
			a(href="https://github.com/webslavik" target='_blank')
				+icon('logo-github', 'logo-github--mod')

		//- .i-footer-date 2016.

// end inner footer