// begin nav

nav.p-navigation.js-navigation

	ul.p-navigation-list
		li: a(href="/").is-active Главная
		li: a(href="/about/") Обо мне
		li: a(href="/projects") Работы
		li: a(href="/articles/") Статьи
		li: a(href="#link") Контакты

// end nav