// begin nav

nav.p-navigation

	ul.p-navigation-list
		li: a(href="#link").is-active home
		li: a(href="#link") about
		li: a(href="#link") work
		li: a(href="#link") blog
		li: a(href="#link") contacts

// end nav