include mixins/_include

// begin page navigation

.page-nav

	a(href="/articles").back
		+icon('arrow', 'arrow--mod')
		span Все статьи

	.nav-arrows
		{% if page.previous.url %}
		a(href="{{ page.previous.url }}" title='prev') 
			+icon('arrow-left', 'arrow-left--mod')
		{% endif %}
		{% if page.next.url %}
		a(href="{{ page.next.url }}" title='next') 
			+icon('arrow-right', 'arrow-right--mod')
		{% endif %}

// end page navigation