/* 
	-----------------------------------------------
		ARTICLE PAGE
	-----------------------------------------------
*/

.article {
	padding-top: 100px;
	margin-bottom: 150px;

	h1 {
		margin-bottom: 10px;
	}
}



// Date and Tag
//--------------------------------
.article-date-tag {
	margin-bottom: 60px;
}

.article-date {
	font-size: rem(13);
}

.article-tag {
	font-size: rem(14);
	color: $primary;
}


// Blockquote
//--------------------------------
.blockquote {
	margin-bottom: 45px;
	font-style: italic;
}

.blockquote-bold {
	font-weight: 700;
	font-style: normal;
}

.blockquote-link {
	text-decoration: none;
	color: $red;
	font-weight: bold;
	transition: all 200ms cubic-bezier(.645,.045,.355,1);
	border-bottom: 1px solid transparent;

	&:hover {
    border-bottom-color: $red;
	}
}


// Media Queries
//--------------------------------
@include breakpoint($mobile) {
	
	.article {
		margin-bottom: 90px;
	}

}