/* 
	-----------------------------------------------
		POSTS PAGE
	-----------------------------------------------
*/

.container--posts {
	article:last-child {
		margin-bottom: 180px;
	}
}

.post {
	margin-bottom: 90px;
}

.post-title {
	margin-bottom: 5px;
	
	a {
		font-size: rem(32);
		font-weight: 700;
		color: $dark;
		text-decoration: none;
	}
}

.post-description {
	margin-bottom: 10px;
	font-size: rem(18);
	line-height: 32px;
}

.post-date {
	font-size: rem(13);
}

.post-tag {
	font-size: rem(14);
	color: $primary;
}

.post-btn-wrap {
	text-align: right;
}


// Media Queries
//--------------------------------
@include breakpoint($mobile) {

	.container--posts {

		article:last-child {
			margin-bottom: 120px;
		}
	}

	.post {
		margin-bottom: 60px;
	}

	.post-title {
		margin-bottom: 10px;
		a {
			line-height: 38px;
		}
	}

	.post-date-tag-wrap {
		margin-bottom: 35px;
	}

	.post-btn-wrap {
		text-align: center;
	}


}