// Clear List
//-------------------------------------------
@mixin list() {
	margin: 0;
	padding: 0;
	list-style: none;
}


// Centering Image
//-------------------------------------------
@mixin img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}