
// Fonts
//------------------------------------
$roboto: 'Roboto', sans-serif
$pt: 'PT Serif', serif



// Colors
//------------------------------------
$primary: #70a0af
$secondary: #252422

$dark: #222222
$ocean: #93bad5
$grey: #f3f3f3
$bg-nav: #343434

$raspberry: #e55381
$brown: #f4e8c1
$dirt: #a0c1b9
$dark-ocean: #70a0af