
// Fonts
//------------------------------------
$roboto: 'Roboto', sans-serif
$pt: 'PT Serif', serif



// Colors
//------------------------------------
$dark: #222222
$ocean: #93bad5
$grey: #f3f3f3
$bg-nav: #343434