/* 
	-------------------------------------------
		GRID
	-------------------------------------------
*/

// Настройки Susy
// $susy: (
//   columns: 12,
//   gutters: 1/5,
//   math: fluid,
//   output: float,
//   gutter-position: split
// );



// примеры Breakpoint
$wide: 1201px;
$desktop: max-width 1200px;
$tablet: max-width 1024px;
$mobile: max-width 768px;
$extraMobile: max-width 480px;

// Experemental
$superExtraMobile: max-width 359px;


//-----------------------------------------------------------

.page-wrap {
	height: 100%;
	overflow-x: hidden;
}


.container {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	&.container--thin {
		max-width: 830px;
		margin-bottom: 150px;
	}
}

//-----------------------------------------------------------
.flex-row {
	display: flex;

	&--space-between {
		justify-content: space-between;
	}

	&--center {
		justify-content: center;
	}
	
	&--center-all {
		justify-content: center;
		align-items: center;
	}

	&--column {
		flex-direction: column;
	}

	&--center-column {
		flex-direction: column;	
		justify-content: center;
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

}


.col-3 {
	width: 33.33%;
}

.col-5 {
	width: 50%;
}

.col-10 {
	width: 100%;
}


// Media Queries
//--------------------------------
@include breakpoint($mobile) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}


	//-----------------------------------------------------------
	// .flex-row {
	// 	flex-direction: column;
	// }

	.col-5 {
		width: 100%;
	}


}