/* 
	-------------------------------------------
		GRID
	-------------------------------------------
*/

// Настройки Susy
$susy: (
  columns: 12,
  gutters: 1/5,
  math: fluid,
  output: float,
  gutter-position: split
);



// примеры Breakpoint
$wide: max-width 1200px;
$desktop: max-width 1024px;
$tablet: max-width 768px;
$mobile: max-width 480px;



//-----------------------------------------------------------

.page-wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.container {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}