/* 
	-------------------------------------------
		HAMBURGER
	-------------------------------------------
*/


.p-hamburger {
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: right;
}



//-----------------------------
.hamburger--collapse-r {
	overflow: hidden;

	.hamburger-inner {
		transition: all 400ms cubic-bezier(.645,.045,.355,1);

		&:before,
		&:after {
			transition: all 600ms cubic-bezier(.645,.045,.355,1);
		}

		&:before {
			transition-delay: 150ms;
		}

		&:after {
			transition-delay: 250ms;
		}
	}

	&.is-active {

		.hamburger-inner {
	    background: #fff;
		  &::before,
		  &::after {
		  	background: #fff;
		  }
		}
	}

	&.is-hide {
		pointer-events: none;

		.hamburger-inner {
			transition-delay: 400ms;
			transform: translateX(60px);

			&:after,
			&:before {
				transform: translateX(60px);
			}

			// &:before {
			// 	transition-delay: 400ms;
			// }

			// &:after {
			// 	transition-delay: 200ms;
			// }
		}
	}
}


// Media Queries
//--------------------------------
@include breakpoint($tablet) {
	.p-hamburger {
		padding-right: 30px;
	}
}

@include breakpoint($mobile) {
	.p-hamburger {
		padding-top: 15px;
		padding-right: 10px;
	}

	// .hamburger--collapse-r {
	// 	&.is-active {
	// 		.hamburger-inner {
	// 		  &::before,
	// 		  &::after {
	// 		    background-color: #fff;
	// 		  }
	// 		}
	// 	}
	// }


}