/* 
	-------------------------------------------
		HAMBURGER
	-------------------------------------------
*/


.p-hamburger {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: right;
}



// Media Queries
//--------------------------------
@include breakpoint($tablet) {
	.p-hamburger {
		padding-right: 30px;
	}
}

@include breakpoint($mobile) {
	.p-hamburger {
		padding-top: 25px;
		padding-right: 10px;
	}

	.hamburger--collapse-r {
		&.is-active {
			.hamburger-inner {
			  &,
			  &::before,
			  &::after {
			    background-color: #fff;
			  }
			}
		}
	}


}