/* 
	-------------------------------------------
		HAMBURGER
	-------------------------------------------
*/


//---------------------------------------------------
.p-hamburger {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: right;
}
