/* 
	-----------------------------------------------
		SKILLS BAR
	-----------------------------------------------
*/


.skills-bar-wrap {
	display: flex;
	justify-content: center;
}


.skills-bar-list {
	@include list();
	
	max-width: 660px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 55px;

	li {
		margin-bottom: 12px;
	}
}

.skills-bar-title {
	margin-bottom: 5px;
	font-size: rem(17);
}

.skills-bar {
	width: 280px;
	height: 8px;
	background-color: #e6e6e6;
	position: relative;
	overflow: hidden;
}

.skills-inner-bar {
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $primary;
}


// Media Queries
//--------------------------------
@include breakpoint($tablet) {

	.skills-bar-list {
		margin: 0 auto 70px;
	}

}


@include breakpoint($mobile) {

	.skills-bar-wrap {
		flex-direction: column;
	}


	.skills-bar-list {
		max-width: 400px;
		display: block;
		margin-bottom: 55px;
	}

	.skills-bar {
		width: 100%;
		height: 8px;
		background-color: #e6e6e6;
		position: relative;
	}

}


@include breakpoint($extraMobile) {
	.skills-bar-list {
		max-width: 100%;
	}
}