/* 
	-------------------------------------------
		SOCIAL LINKS
	-------------------------------------------
*/

.p-social {
	text-align: center;

	// &-inner {
	// 	margin-bottom: 40px;
	// }

	a {
		display: inline-block;
		margin-right: 10px;
		margin-left: 10px;
		font-size: 0;
	}
}

.logo-codepen--mod,
.logo-vk--mod,
.logo-facebook--mod,
.logo-github--mod,
.logo-linkedin--mod {
	font-size: rem(44);
	color: $dark;
	transition: all 400ms cubic-bezier(.645,.045,.355,1);

	// &:hover {
	// 	color: $primary;
	// }
}