/* 
	-------------------------------------------
	svg спрайт
	-------------------------------------------
*/
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-code {
	font-size:(522.469/10)*1rem;
	width:(522.468/522.469)*1em;
}
.icon-layers {
	font-size:(54.953/10)*1rem;
	width:(54.953/54.953)*1em;
}
.icon-marker {
	font-size:(512.32/10)*1rem;
	width:(512.32/512.32)*1em;
}
