/* 
	-------------------------------------------
	svg спрайт
	-------------------------------------------
*/
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-arrow-left {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-arrow-right {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-code {
	font-size:(522.469/10)*1rem;
	width:(522.468/522.469)*1em;
}
.icon-layers {
	font-size:(54.953/10)*1rem;
	width:(54.953/54.953)*1em;
}
.icon-logo-codepen {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-logo-facebook {
	font-size:(49.652/10)*1rem;
	width:(49.652/49.652)*1em;
}
.icon-logo-github {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-logo-linkedin {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-logo-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-marker {
	font-size:(512.32/10)*1rem;
	width:(512.32/512.32)*1em;
}
