/* 
	-------------------------------------------
		TYPOGRAPHY
	-------------------------------------------
*/

h1,
h2,
h3,
h4 {
	font-family: $roboto;
	font-weight: 700;
}

h1 {
	font-size: rem(45);
	line-height: 48px;
}

h2 {
	font-size: rem(35);
	line-height: 38px;
}

p {
	margin-bottom: 15px;
	font-size: rem(18);
	line-height: 32px;
}

.section-title {
	margin-bottom: 70px;
	font-size: rem(45);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4.5px;
	font-weight: 900;
}


// Media Queries
//--------------------------------
@include breakpoint($mobile) {
	.section-title {
		margin-bottom: 40px;
	}
}

@include breakpoint($extraMobile) {
	.section-title {
		font-size: rem(38);
		letter-spacing: 3.8px;
	}
}