/* 
	-----------------------------------------------
		HEADER MAIN PAGE
	-----------------------------------------------
*/

.m-header {
	height: 90vh;
	margin-bottom: 170px;
	@include angle-edge(null, null, bottomright, 3deg);
	background-color: $grey;
}


.m-header-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
	z-index: 5;

	width: 100%;
	height: 100%;
}


// Title
//--------------------------------
.m-header-title {
	padding: 15px 50px;
	font-family: $roboto;
	font-weight: 900;
	letter-spacing: 8px;
	line-height: 68px;
	user-select: none;
	color: $grey;

	&.title--first,
	&.title--second {
		background-color: $primary;
		font-size: rem(80);
	}

	&.title--first {
		position: relative;
		bottom: -15px;
		margin-left: -180px;
	}

	&.title--second {
		margin-left: 30px;
		margin-bottom: 20px;
	}
}

.m-header-position {
	font-family: $roboto;
	font-weight: 900;
	font-size: rem(32);
	letter-spacing: 3.2px;
}



// Media Queries
//--------------------------------
@include breakpoint($tablet) {

	.m-header-title {
		padding: 10px 45px;
		line-height: 68px;
		letter-spacing: 7px;

		&.title--first,
		&.title--second {
			font-size: rem(70);
		}

		&.title--first {
			margin-left: -165px;
		}
	}
}


@include breakpoint($mobile) {

	.m-header {
		height: 100vh;
		margin-bottom: 100px;
		transition-duration: 999999s;
	}

	
	.m-header-title {
		padding: 0px 30px;
		letter-spacing: 4.5px;

		&.title--first,
		&.title--second {
			font-size: rem(45);
		}

		&.title--first {
			margin-left: -110px;
		}

		&.title--second {
			margin-left: 20px;
		}
	}

	.m-header-position {
		font-size: rem(24);
		letter-spacing: 2.4px;
	}

}


@include breakpoint($superExtraMobile) {

	
	.m-header-title {
		padding: 0px 30px;
		letter-spacing: 4px;

		&.title--first,
		&.title--second {
			font-size: rem(40);
		}
	}


}