/* 
	-----------------------------------------------
		BLOG MAIN PAGE
	-----------------------------------------------
*/

.m-blog {
	margin-bottom: 170px;
	background-color: #fff;
}


// Blog Item
//--------------------------------
.m-blog-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;

	> div:first-child {
		margin-right: 60px;
	}

}

.m-blog-column {
	max-width: 380px;
	width: 100%;
}

.m-blog-item {
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-decoration: none;
	color: $dark;

	&:hover,
	&:focus {
		.tag,
		.title,
		.descr {
			transform: translateY(-15px);
		}

		.read {
			transform: translateY(-15px);
			opacity: 1;
		}
	}

	.tag,
	.title,
	.descr {
		transition: all 400ms cubic-bezier(.645,.045,.355,1);
		transform: translateY(0px);
	}

	.tag,
	.title {
		font-family: $roboto;
		font-weight: 500;
	}

	.tag {
		font-size: rem(14);
		letter-spacing: 0.84px;
	}

	.title {
		margin-bottom: 5px;
		font-size: rem(26);
		letter-spacing: 1.04px;
	}

	.descr {
		margin-bottom: 5px;
		line-height: 26px;
		letter-spacing: 0.96px;
	}

	.read {
		font-family: $roboto;
		font-size: rem(14);
		color: $primary;
		transition: all 400ms cubic-bezier(.645,.045,.355,1);
		opacity: 0;
		transform: translateY(0px);
	}
}


// Button wrap
//--------------------------------
.m-blog-btn-wrap {
	text-align: center;
}


// Media Queries
//--------------------------------
@include breakpoint($tablet) {

	.m-blog {
		margin-bottom: 100px;
	}


	.m-blog-row {
		justify-content: space-between;
		margin-bottom: 30px;

		> div:first-child {
			margin-right: 0px;
		}

	}

	.m-blog-column {
		max-width: 47%;
		width: 100%;
	}

	.m-blog-item {
		
		&:hover,
		&:focus {
			.tag,
			.title,
			.descr,
			.read {
				transform: translateY(0px);
			}
		}

		.read {
			opacity: 1;
		}
	}

}

@include breakpoint($mobile) {

	.m-blog-row {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0px;
	}

	.m-blog-column {
		max-width: 460px;
		width: 100%;
	}

}
