/* 
	-----------------------------------------------
		ABOUT MAIN PAGE
	-----------------------------------------------
*/

.m-about {
	margin-bottom: 170px;
	background-color: #fff;
}

.m-about-row {
	display: flex;

	&--center {
		justify-content: center;
	}

	&--m-bottom {
		margin-bottom: 70px;
	}
}


// Text
//--------------------------------


.m-about-name {
	width: 42%;
	margin-bottom: 25px;
	padding-right: 30px;
	font-size: rem(26);
	text-align: right;
}


.m-about-text {
	width: 50%;
	padding-left: 20px;
	font-size: rem(20);
	color: lighten($dark, 20%);
	line-height: 32px;

	p:first-child {
		margin-bottom: 20px;
	}
}



// Skills
//--------------------------------
.m-about-skills {
	@include list();
	
	max-width: 660px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 70px;

	li {
		margin-bottom: 12px;
	}
}

.skills-bar-title {
	margin-bottom: 5px;
	font-size: rem(17);
}

.skills-bar {
	width: 280px;
	height: 8px;
	background-color: #e6e6e6;
	position: relative;
}

.skills-inner-bar {
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $primary;
}


// Btn wrap
//--------------------------------
.m-about-btn-wrap {
	text-align: center;
}


// Media Queries
//--------------------------------
@include breakpoint($tablet) {

	.m-about-row {
		flex-direction: column;
	}

	//------------------------------
	.m-about-name,
	.m-about-text {
		width: 100%;
		padding: 0;
	}

	.m-about-name {
		text-align: left;
	}

	//--------------------------------
	.m-about-skills {
		margin: 0 auto 70px;
	}


}


@include breakpoint($mobile) {


	.m-about-row {
		&--m-bottom {
			margin-bottom: 50px;
		}
	}
	
	//--------------------------------
	.m-about {
		margin-bottom: 100px;
	}

	.m-about-row {
		flex-direction: column;
	}

	//--------------------------------
	.m-about-name {
		padding-right: 0px;
		text-align: left;
	}

	.m-about-btn-wrap {
		text-align: center;
	}
	
	//--------------------------------
	.m-about-skills {
		max-width: 400px;
		display: block;
		margin-bottom: 55px;
	}

	.skills-bar {
		width: 100%;
		height: 8px;
		background-color: #e6e6e6;
		position: relative;
	}
}


@include breakpoint($extraMobile) {
	.m-about-skills {
		max-width: 100%;
	}
}