/* 
	-----------------------------------------------
		ABOUT MAIN PAGE
	-----------------------------------------------
*/

.m-about {
	margin-bottom: 170px;
	background-color: #fff;
}

.m-about-row {
	display: flex;

	&--center {
		justify-content: center;
	}

	&--m-bottom {
		margin-bottom: 80px;
	}
}

.m-about-left-column,
.m-about-right-column {
	width: 50%;
}

.m-about-right-column {
	padding-top: 50px;
}

// Foto and Text
//--------------------------------
.m-about-foto {
	width: 380px;
	height: 380px;
	background-image: url(../img/jpg/my-test.jpeg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	border-radius: 50%;
}


.m-about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 65px;
	font-size: 18px;
	
	p:first-child {
		margin-bottom: 35px;
	}
}

.m-about-btn-wrap {
	text-align: right;
}


// Skills
//--------------------------------
.m-about-skills {
	@include list();
	
	max-width: 640px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		margin-bottom: 12px;
	}
}

.skills-bar-title {
	margin-bottom: 5px;
	font-size: rem(16);
}

.skills-bar {
	width: 270px;
	height: 8px;
	background-color: #e6e6e6;
	position: relative;
}

.skills-inner-bar {
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $primary;
}


// Media Queries
//--------------------------------
@include breakpoint($tablet) {
	
	.m-about-row {
		&--m-bottom {
			margin-bottom: 70px;
		}
	}

	.m-about-right-column {
		padding-top: 0px;
	}

	//--------------------------------
	.m-about-foto {
		width: 320px;
		height: 320px;
	}

	.m-about-text {
		margin-bottom: 50px;
	}
}


@include breakpoint($mobile) {

	.m-about {
		margin-bottom: 100px;
	}

	.m-about-row {
		flex-direction: column;
	}

	.m-about-left-column,
	.m-about-right-column {
		width: 100%;
	}


	//--------------------------------
	.m-about-foto {
		width: 240px;
		height: 240px;
		margin: 0 auto 30px;
	}

	.m-about-text {
		p:first-child {
			margin-bottom: 15px;
		}
	}

	.m-about-btn-wrap {
		text-align: center;
	}
	
	//--------------------------------
	.m-about-skills {
		max-width: 400px;
		display: block;
		margin: 0 auto;
	}

	.skills-bar {
		width: 100%;
		height: 8px;
		background-color: #e6e6e6;
		position: relative;
	}
}

@include breakpoint($extraMobile) {
	.m-about-skills {
		max-width: 100%;
	}
}