/* 
	-----------------------------------------------
		INNER HEADER
	-----------------------------------------------
*/

.i-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// height: 500px;
	height: 300px;
	margin-bottom: 100px;
	background-color: $grey;
}


.i-header-title {
	display: inline-block;

	padding: 15px 50px;
	font-family: $roboto;
	font-weight: 900;
	letter-spacing: 8px;
	line-height: 68px;
	text-align: center;

	background-color: $primary;
	font-size: rem(80);
	color: $grey;
}


// Media Queries
//--------------------------------
@include breakpoint($tablet) {
	
	.i-header-title {
		font-size: rem(70);
		padding: 10px 45px;
		line-height: 68px;
		letter-spacing: 7px;
	}

}


@include breakpoint($mobile) {

	.i-header {

		height: 350px;
		margin-bottom: 60px;
	}

	
	.i-header-title {
		font-size: rem(45);
		padding: 0px 30px;
		letter-spacing: 4.5px;
	}

}