/* 
	-----------------------------------------------
		INNER FOOTER
	-----------------------------------------------
*/

.i-footer {
	padding-top: 55px;
	padding-bottom: 40px;
	background-color: $grey;
}

.i-footer-title,
.i-footer-date {
	text-align: center;
}

.i-footer-title {
	font-family: $roboto;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: rem(17);
	font-weight: 700;
	letter-spacing: 1.7px;
}

.i-footer-date {

}