/* 
	-----------------------------------------------
		NAVIGATION
	-----------------------------------------------
*/

.p-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100%;
	position: fixed;
	top: 0;
	// left: 0;
	right: 0;
	transform: translateX(400px);
	background-color: $dark;
	transition-duration: .7s;
  transition-timing-function: cubic-bezier(.645,.045,.355,1);

  &.is-move {
  	transform: translateX(0px);

  	li {
  		opacity: 1;
  		transform: translate(0px);
  	}
  }

}

.p-navigation-list {
	@include list;

	//--------------------------
	$i: 1;

	@while $i < 5 {
		li:nth-child(#{$i}) {
			transition-delay: $i * 130 + ms;
		}
		$i: $i + 1;
	}
	//--------------------------
	li {
		opacity: 0;
		transform: translateX(100px);
		transition: all 300ms cubic-bezier(.645,.045,.355,1);
	}


	a {
		display: inline-block;
		font-family: $roboto;
		font-size: rem(36);
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		color: #acacac;
		// opacity: 0;
		transition: all 300ms cubic-bezier(.645,.045,.355,1);

		&:hover {
			color: $primary;
		}

		&.is-active {
			color: $primary;
		}
	}
}




// Media Queries
//--------------------------------
@include breakpoint($tablet) {

	.p-navigation {
		width: 316px;
	}

	.p-navigation-list {
		a {
			font-size: rem(32);
		}
	}

}


@include breakpoint($mobile) {

	.p-navigation {
		width: 100%;
		transform: translateX(100%);
		z-index: 10;
	}

	.p-navigation-list {
		a {
			font-size: rem(36);
		}
	}

}

