
<!-- begin about main page-->
<section class="m-about">
  <div class="container">
    <h2 class="section-title">Обо мне</h2>
    <div class="m-about-row m-about-row--m-bottom">
      <p class="m-about-name">{{ site.data.home.about.main_text }}</p>
      <div class="m-about-text">
        <p class="m-about-p">{{ site.data.home.about.paragraph_first }}</p>
        <p class="m-about-p">{{ site.data.home.about.paragraph_second }}</p>
      </div>
    </div>
    <div class="m-about-btn-wrap"><a href="/about/" class="btn"><span class="text">Узнать Больше</span><span class="above"></span></a>
    </div>
  </div>
</section>
<!-- end about main page-->