
<!-- begin blog main page-->
<section class="m-blog">
  <div class="container">
    <h2 class="section-title">Статьи</h2>
    <div class="m-blog-row">
      <div class="m-blog-column"><a href="#link" class="m-blog-item">
          <div class="tag">#javascript</div>
          <div class="title">Blog article title</div>
          <div class="descr">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, sunt!</div>
          <div class="read">&#8210; Read</div></a><a href="#link" class="m-blog-item">
          <div class="tag">#javascript</div>
          <div class="title">Blog article title</div>
          <div class="descr">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptate quasi nam ea consequatur ad iste cupiditate nobis!</div>
          <div class="read">&#8210; Read</div></a><a href="#link" class="m-blog-item">
          <div class="tag">#javascript</div>
          <div class="title">Blog article title</div>
          <div class="descr">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi id recusandae laboriosam earum.</div>
          <div class="read">&#8210; Read</div></a>
      </div>
      <div class="m-blog-column"><a href="#link" class="m-blog-item">
          <div class="tag">#javascript</div>
          <div class="title">Blog article title</div>
          <div class="descr">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illum dolorem hic quod, assumenda quo, accusantium ex deserunt. Aliquam, necessitatibus?</div>
          <div class="read">&#8210; Read</div></a><a href="#link" class="m-blog-item">
          <div class="tag">#javascript</div>
          <div class="title">Blog article title</div>
          <div class="descr">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dicta.</div>
          <div class="read">&#8210; Read</div></a><a href="#link" class="m-blog-item">
          <div class="tag">#javascript</div>
          <div class="title">Blog article title</div>
          <div class="descr">  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore doloremque nostrum eaque cum, odio!</div>
          <div class="read">&#8210; Read</div></a>
      </div>
    </div>
    <div class="m-blog-btn-wrap"><a href="/articles/" class="btn"><span class="text">Читать Все</span><span class="above"></span></a>
    </div>
  </div>
</section>
<!-- end blog main page-->