
<!-- begin blog main page-->
<section class="m-blog">
  <div class="container">
    <h2 class="section-title">Статьи</h2>
    <div class="m-blog-row">
      <div class="m-blog-column"><a href="{{ site.data.homePost.postOne.link }}" class="m-blog-item">
          <div class="tag">{{ site.data.homePost.postOne.tag }}</div>
          <div class="title">{{ site.data.homePost.postOne.title }}</div>
          <div class="descr"> {{ site.data.homePost.postOne.description }}</div>
          <div class="read">&#8210; Читать</div></a><a href="{{ site.data.homePost.postThree.link }}" class="m-blog-item">
          <div class="tag">{{ site.data.homePost.postThree.tag }}</div>
          <div class="title">{{ site.data.homePost.postThree.title }}</div>
          <div class="descr"> {{ site.data.homePost.postThree.description }}</div>
          <div class="read">&#8210; Читать</div></a></div>
      <div class="m-blog-column"><a href="{{ site.data.homePost.postTwo.link }}" class="m-blog-item">
          <div class="tag">{{ site.data.homePost.postTwo.tag }}</div>
          <div class="title">{{ site.data.homePost.postTwo.title }}</div>
          <div class="descr"> {{ site.data.homePost.postTwo.description }}</div>
          <div class="read">&#8210; Читать</div></a>
      </div>
    </div>
    <div class="m-blog-btn-wrap"><a href="/articles/" class="btn"><span class="text">Читать Все</span><span class="above"></span></a>
    </div>
  </div>
</section>
<!-- end blog main page-->