
<!-- begin blog main page-->
<section class="m-blog">
  <div class="container">
    <h2 class="section-title">Статьи</h2>
    <div class="m-blog-row">
      <div class="m-blog-column"><a href="{{ site.data.homePost.one.link }}" class="m-blog-item">
          <div class="tag">{{ site.data.homePost.one.tag }}</div>
          <div class="title">{{ site.data.homePost.one.title }}</div>
          <div class="descr"> {{ site.data.homePost.one.description }}</div>
          <div class="read">&#8210; Read</div></a></div>
      <div class="m-blog-column"><a href="{{ site.data.homePost.two.link }}" class="m-blog-item">
          <div class="tag">{{ site.data.homePost.two.tag }}</div>
          <div class="title">{{ site.data.homePost.two.title }}</div>
          <div class="descr"> {{ site.data.homePost.two.description }}</div>
          <div class="read">&#8210; Read</div></a>
      </div>
    </div>
    <div class="m-blog-btn-wrap"><a href="/articles/" class="btn"><span class="text">Читать Все</span><span class="above"></span></a>
    </div>
  </div>
</section>
<!-- end blog main page-->