
<!-- begin contact main page-->
<section class="m-contact">
  <h2 class="section-title">Контакты</h2>
  <div class="m-contact-email"><a href="mailto:slavik.sukhanov@gmail.com">slavik.sukhanov@gmail.com</a></div>
  <div class="m-contact-or">или</div>
  <div class="p-social"><a href="https://vk.com/slaviksukhanov" target="_blank">
      <svg class="icon icon-logo-vk logo-vk--mod">
        <use xlink:href="/assets/img/svg-sprite.svg#logo-vk"></use>
      </svg></a><a href="http://codepen.io/webslavik/" target="_blank">
      <svg class="icon icon-logo-codepen logo-codepen--mod">
        <use xlink:href="/assets/img/svg-sprite.svg#logo-codepen"></use>
      </svg></a><a href="https://ua.linkedin.com/in/slaviksukhanov" target="_blank">
      <svg class="icon icon-logo-linkedin logo-linkedin--mod">
        <use xlink:href="/assets/img/svg-sprite.svg#logo-linkedin"></use>
      </svg></a><a href="https://github.com/webslavik" target="_blank">
      <svg class="icon icon-logo-github logo-github--mod">
        <use xlink:href="/assets/img/svg-sprite.svg#logo-github"></use>
      </svg></a>
  </div>
</section>
<!-- end contact main page-->