
<!-- begin about main page-->
<section class="m-about">
  <div class="container">
    <h2 class="section-title">About</h2>
    <div class="flex-row m-about-row">
      <div class="m-about-left col-5">
        <div class="m-about-foto"></div>
      </div>
      <div class="m-about-right col-5">
        <div class="m-about-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi uconsequat. </p>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="m-about-btn-wrap"><a href="#link" class="btn"> <span>Читать дальше</span></a></div>
      </div>
    </div>
    <div class="flex-row flex-row--center">
      <ul class="m-about-skills">
        <li>
          <div class="skills-bar-title">Communication</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Learning</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Planning</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Programming</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Design</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Organization</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- end about main page-->