
<!-- begin work main page-->
<section class="m-work">
  <div class="container">
    <h2 class="section-title">Работы</h2>
    <div class="m-work-list"><a href="/projects/2017/05/15/the-movie.html" class="m-work-item">
        <div style="background-image: url(../assets/img/svg/the-movie-db.svg); background-color: #00d573; background-size: 30%;" class="item-background"></div>
        <div class="item-meta">
          <div class="title">The Movie</div>
          <div class="descr">#frontend/design</div>
        </div>
        <div style="background-color: #00d573" class="item-cover"></div></a><a href="/projects/2016/11/07/qlothes.html" class="m-work-item">
        <div style="background-image: url(../assets/img/svg/qlothes-cover.svg); background-color: #d5ece1; background-size: 35%;" class="item-background"></div>
        <div class="item-meta">
          <div class="title">Qlothes</div>
          <div class="descr">#frontend</div>
        </div>
        <div style="background-color: #d5ece1" class="item-cover"></div></a><a href="/projects/2016/11/06/montessori.html" class="m-work-item">
        <div style="background-image: url(../assets/img/svg/montessori-cover.svg); background-color: #c27871; background-size: 45%;" class="item-background"></div>
        <div class="item-meta">
          <div class="title">Montessori</div>
          <div class="descr">#frontend</div>
        </div>
        <div style="background-color: #c27871" class="item-cover"></div></a><a href="/projects/2016/11/05/danceworld.html" class="m-work-item">
        <div style="background-image: url(../assets/img/png/danceworld-cover.png); background-color: #f66b8f; background-size: 40%;" class="item-background"></div>
        <div class="item-meta">
          <div class="title">DanceWorld</div>
          <div class="descr">#frontend</div>
        </div>
        <div style="background-color: #f66b8f" class="item-cover"></div></a><a href="/projects/2016/11/04/cmsmagazine.html" class="m-work-item">
        <div style="background-image: url(../assets/img/png/cmsmagazine-cover.png); background-color: #e4e5e6; background-size: 55%;" class="item-background"></div>
        <div class="item-meta">
          <div class="title">cmsmagazine</div>
          <div class="descr">#frontend</div>
        </div>
        <div style="background-color: #e4e5e6" class="item-cover"></div></a><a href="/projects/2016/11/01/sab.html" class="m-work-item">
        <div style="background-image: url(../assets/img/svg/sab-cover.svg); background-color: #d0ba93; background-size: 35%;" class="item-background"></div>
        <div class="item-meta">
          <div class="title">SAB</div>
          <div class="descr">#frontend</div>
        </div>
        <div style="background-color: #d0ba93" class="item-cover"></div></a>
    </div>
    <div class="m-work-btn-wrap"><a href="/projects/" class="btn"><span class="text">Смотреть Еще</span><span class="above"></span></a>
    </div>
  </div>
</section>
<!-- end work main page-->