
<!-- begin work main page-->
<section class="m-work">
  <div class="container">
    <h2 class="section-title">Work</h2>
    <div class="m-work-icons flex-row flex-row--center">
      <div class="m-work-icon">
        <svg class="icon icon-marker icon-marker--mod">
          <use xlink:href="assets/img/svg-sprite.svg#marker"></use>
        </svg>
        <div class="title">Prototyping </div>
      </div>
      <div class="m-work-icon icon-design">
        <svg class="icon icon-layers icon-layers--mod">
          <use xlink:href="assets/img/svg-sprite.svg#layers"></use>
        </svg>
        <div class="title">Design</div>
      </div>
      <div class="m-work-icon">
        <svg class="icon icon-code icon-code--mod">
          <use xlink:href="assets/img/svg-sprite.svg#code"></use>
        </svg>
        <div class="title">Development </div>
      </div>
    </div>
    <div class="m-work-list flex-row flex-row--wrap flex-row--space-between"><a href="#link" style="background-image: url(assets/img/svg/qlothes-cover.svg); background-color: #d5ece1; background-size: 35%;" class="m-work-item">
        <div class="item-meta">
          <div class="title">Qlothes</div>
          <div class="descr">#code</div>
        </div>
        <div style="background-color: #d5ece1" class="cover"></div></a><a href="#link" style="background-image: url(assets/img/svg/montessori-cover.svg); background-color: #c27871; background-size: 45%;" class="m-work-item">
        <div class="item-meta">
          <div class="title">Montessori</div>
          <div class="descr">#code</div>
        </div>
        <div style="background-color: #c27871" class="cover"></div></a><a href="#link" style="background-image: url(assets/img/png/danceworld-cover.png); background-color: #f66b8f; background-size: 40%;" class="m-work-item">
        <div class="item-meta">
          <div class="title">DanceWorld</div>
          <div class="descr">#code</div>
        </div>
        <div style="background-color: #f66b8f" class="cover"></div></a><a href="#link" style="background-image: url(assets/img/png/cmsmagazine-cover.png); background-color: #e4e5e6; background-size: 55%;" class="m-work-item">
        <div class="item-meta">
          <div class="title">cmsmagazine</div>
          <div class="descr">#code</div>
        </div>
        <div style="background-color: #e4e5e6" class="cover"></div></a><a href="#link" style="background-image: url(assets/img/svg/sab-cover.svg); background-color: #d0ba93; background-size: 35%;" class="m-work-item">
        <div class="item-meta">
          <div class="title">SAB</div>
          <div class="descr">#code</div>
        </div>
        <div style="background-color: #d0ba93" class="cover"></div></a><a href="#link" style="background-image: url(assets/img/png/chikkipizza-cover.png); background-color: #e3975a; background-size: 30%;" class="m-work-item">
        <div class="item-meta">
          <div class="title">ChikkiPizza</div>
          <div class="descr">#code</div>
        </div>
        <div style="background-color: #e3975a" class="cover"></div></a>
    </div>
    <div class="m-work-btn-wrap"><a href="#link" class="btn"> <span>View Projects</span></a></div>
  </div>
</section>
<!-- end work main page-->