
<!-- begin about main page-->
<section class="m-about">
  <div class="container">
    <h2 class="section-title">Обо мне</h2>
    <div class="m-about-row m-about-row--m-bottom">
      <p class="m-about-name">Привет, меня зовут Славик.<br/>Я занимаюсь веб разработкой в&nbsp;направлении frontend.</p>
      <div class="m-about-text">
        <p class="m-about-p">Мое знакомство с вебом началось в 2014 году. Однажды меня заинтересовало как он&nbsp;устроен, из чего состоит и какие возможности дает. По началу это являлось моим хобби, но со временем перерасло в большее и стало моей основной деятельностью. </p>
        <p class="m-about-p">Веб очень быстро развивается и это подталкивает на собственное развитие. Изучение новых технологий, совершенствование навыков, создание более качественного продукта - то, к чему я стремлюсь. Я могу с уверенностью сказать, что нашел то, чем хочу заниматься все время.</p>
      </div>
    </div>
    <div class="m-about-row m-about-row--center">
      <ul class="m-about-skills">
        <li>
          <div class="skills-bar-title">Каммуникабельность</div>
          <div class="skills-bar">
            <div style="width: 85%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Обучение</div>
          <div class="skills-bar">
            <div style="width: 81%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Планирование</div>
          <div class="skills-bar">
            <div style="width: 85%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Программирование</div>
          <div class="skills-bar">
            <div style="width: 87%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Дизайн</div>
          <div class="skills-bar">
            <div style="width: 64%" class="skills-inner-bar"></div>
          </div>
        </li>
        <li>
          <div class="skills-bar-title">Организованность</div>
          <div class="skills-bar">
            <div style="width: 80%" class="skills-inner-bar"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="m-about-btn-wrap"><a href="/about/" class="btn"><span class="text">Читать Дальше</span><span class="above"></span></a>
    </div>
  </div>
</section>
<!-- end about main page-->