/* 
	-----------------------------------------------
		ABOUT PAGE
	-----------------------------------------------
*/


.about {
	p:last-of-type {
		margin-bottom: 70px;
	}
}

.about-title {
	margin-bottom:70px;
}

.about-skills-wrap {
	display: flex;
	flex-wrap: wrap;

	div:nth-last-child(1),
	div:nth-last-child(2) {
		margin-bottom: 0;
	}
}

.skill {
	// background-color: green;
	width: 50%;
	margin-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;

	.title {
		font-size: rem(22);
		font-weight: 600;

		position: relative;

		&:before {
			content: '';
			width: 7px;
			height: 7px;
			position: absolute;
			top: 50%;
			left: -17px;
			transform: translateY(-50%);
			background-color: #c9c8c8;
		}
	}

	.descr {
		font-size: rem(16);

		.bold {
			font-weight: 600;
			text-decoration: underline;
		}
	}

}




// Media Queries
//--------------------------------
@include breakpoint($desktop) {

	.skill {
		padding-left: 25px;
		padding-right: 25px;
	}

}

@include breakpoint($tablet) {

	.about-skills-wrap {
		justify-content: space-around;

	}

}

@include breakpoint($mobile) {

	.about-skills-wrap {

	}

	.skill {
		max-width: 580px;
		width: 100%;
		padding-left: 15px;
		padding-right: 0px;
	}

}