/* 
	-----------------------------------------------
		PROJECTS PAGE
	-----------------------------------------------
*/

.container--project {
	margin-bottom: 100px;
}


// Title on the Projects Page
//---------------------------------
.projects-title {
	margin-bottom: 50px;
	text-align: center;

	a {
		font-size: rem(40);
		color: $dark;
		text-decoration: none;
	}
}


// Project
//---------------------------------
.project-descr {
	@include list();

	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	li {
		text-align: center;
	}

	.title {
		font-family: $roboto;
		font-size: rem(20);
		font-weight: 700;
		letter-spacing: 2px;
	}

	.descr {
		font-size: rem(16);
		letter-spacing: 1.6px;
	}
}


//---------------------------------
.project-btn-wrap {
	margin-bottom: 60px;
	text-align: right;
}


//---------------------------------
.project-img-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// @include clearfix();
}

.project-img {
	width: 100%;
	margin-bottom: 20px;

	&.img-50 {
		width: calc(50% - 5px);
	}

	&.img-border-none {
		img {
			border: none;
		}
	}

	img {
		border: 1px solid #e6e6e6;		
	}
}


// Media Queries
//--------------------------------
@include breakpoint($mobile) {
	
	.container--project {
		margin-bottom: 60px;
	}

	.project-descr {
		flex-wrap: wrap;
		margin-bottom: 20px;

		li {
			margin-bottom: 30px;
			width: 50%;
		}
	}


	.project-btn-wrap {
		margin-bottom: 50px;
		text-align: center;
	}

}


@include breakpoint($extraMobile) {
	
	.project-descr {
		li {
			margin-bottom: 30px;
			width: 100%;
		}
	}

	.project-img {
		&.img-50 {
			width: 100%;
		}
	}
}
