- var text = [' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, sunt!', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptate quasi nam ea consequatur ad iste cupiditate nobis!', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi id recusandae laboriosam earum.', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illum dolorem hic quod, assumenda quo, accusantium ex deserunt. Aliquam, necessitatibus?', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, dicta.', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad labore doloremque nostrum eaque cum, odio!']

// begin blog main page

section.m-blog
	.container
		h2.section-title Blog

		.m-blog-list.flex-row.flex-row--wrap.flex-row--center
			.m-blog-list-column
				- var i = 0;
				while (i++ < 3)
					a(href="#link").m-blog-item
						.tag #javascript
						.title Blog article title
						.descr  #{text[i-1]}
						.read &#8210; Read
			.m-blog-list-column
				- var z = 3;
				while (z++ < 6)
					a(href="#link").m-blog-item
						.tag #javascript
						.title Blog article title
						.descr  #{text[z-1]}
						.read &#8210; Read

		.m-blog-btn-wrap
			a(href="#link").btn
				span Read more

// begin blog main page