// begin header main page

section.m-header
	.m-header-wrap
		.m-header-title.title--first Слава
		.m-header-title.title--second Суханов
		.m-header-position Front End Web Developer

// end header main page