include ../mixins/_include

// begin about main page

section.m-about
	.container
		h2.section-title About

		.m-about-row.m-about-row--m-bottom
			.m-about-left-column
				.m-about-foto

			.m-about-right-column
				.m-about-text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi uconsequat. 
					p  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.m-about-btn-wrap
					+btn('/about/' ,'Читать Дальше')

		.m-about-row.m-about-row--center
			ul.m-about-skills
				- var title = ['Communication', 'Learning', 'Planning', 'Programming', 'Design', 'Organization']
				- var i = -1;
				while (i++ < title.length -1)
					li
						.skills-bar-title #{title[i]}
						.skills-bar
							.skills-inner-bar(style='width: 80%')



// end about main page