// begin header main page

section.m-header
	.m-header-wrap
		.m-header-title.title--first {{ site.data.home.header.first }}
		.m-header-title.title--second {{ site.data.home.header.second }}
		.m-header-position {{ site.data.home.header.position }}

// end header main page