// BEGIN HEADER

section.m-header.flex-row.flex-row--center-column
	.m-header-title.title--first Slavik
	.m-header-title.title--second Sukhanov
	.m-header-position Designer / Programmer

// END HEADER