// begin header main page

section.m-header
	.m-header-wrap
		.m-header-title.title--first Slavik
		.m-header-title.title--second Sukhanov
		.m-header-position Designer / Programmer

// end header main page