include ../mixins/_include

// begin contact main page

section.m-contact
	
	h2.section-title Contact

	.m-contact-email
		a(href="mailto:slavik.sukhanov@gmail.com") slavik.sukhanov@gmail.com

	.m-contact-or or

	.p-social
		a(href="#link")
			+icon('logo-facebook', 'logo-facebook--mod')
		a(href="#link")
			+icon('logo-vk', 'logo-vk--mod')
		a(href="#link")
			+icon('logo-codepen', 'logo-codepen--mod')
		a(href="#link")
			+icon('logo-linkedin', 'logo-linkedin--mod')
		a(href="#link")
			+icon('logo-github', 'logo-github--mod')


// end contact main page
