// begin about

//- p {{ site.data.about.p_1 }}
//- p {{ site.data.about.p_2 }}
//- p {{ site.data.about.p_3 }}

h2.about-title Мои навыки

.about-skills-wrap
	.skill
		.title HTML/Jade
		.descr  {{ site.data.about.skills.html }}
	.skill
		.title CSS/Sass
		.descr  {{ site.data.about.skills.css }}
	.skill
		.title JavaScript/jQuery
		.descr  {{ site.data.about.skills.js }}
	.skill
		.title Angular
		.descr  {{ site.data.about.skills.angular }}
	.skill
		.title Bootstrap
		.descr  {{ site.data.about.skills.bootstrap }}
	.skill
		.title Foundation for Emails
		.descr  {{ site.data.about.skills.email }}
	.skill
		.title Gulp
		.descr  {{ site.data.about.skills.gulp }}
	.skill
		.title Photoshop/Illustrator
		.descr  {{ site.data.about.skills.ps }}
	.skill
		.title Bower/npm
		.descr  {{ site.data.about.skills.bower }}
	.skill
		.title Git
		.descr  {{ site.data.about.skills.git }}
	.skill
		.title Jekyll
		.descr  {{ site.data.about.skills.jekyll }}
			


// end about