// begin about



//- .skills-bar-wrap
//- 	ul.skills-bar-list
//- 		//- var title = ['Communication', 'Learning', 'Planning', 'Programming', 'Design', 'Organization']
//- 		- var title = ['Каммуникабельность', 'Обучение', 'Планирование', 'Программирование', 'Дизайн', 'Организованность']
//- 		- var percentage = ['85', '78', '75', '87', '64', '79']
//- 		- var i = -1;
//- 		while (i++ < title.length -1)
//- 			li
//- 				.skills-bar-title #{title[i]}
//- 				.skills-bar
//- 					.skills-inner-bar(style='width: #{percentage[i]}%')

h2.about-title Мои навыки
p Стек того, что использую при работе с небольшим описанием/мнением:

.about-skills-wrap
	.skill
		.title Angular 2/AngularJS
		.descr  {{ site.data.about.skills.angular }}
	.skill
		.title HTML/Jade
		.descr  {{ site.data.about.skills.html }}
	.skill
		.title CSS/Sass
		.descr  {{ site.data.about.skills.css }}
	.skill
		.title JavaScript
		.descr  {{ site.data.about.skills.js }}
	.skill
		.title Adobe XD/Photoshop
		.descr  {{ site.data.about.skills.ps }}
	.skill
		.title jQuery
		.descr  {{ site.data.about.skills.jquery }}
	.skill
		.title Bootstrap
		.descr  {{ site.data.about.skills.bootstrap }}
	.skill
		.title Foundation for Emails
		.descr  {{ site.data.about.skills.email }}
	.skill
		.title Gulp
		.descr  {{ site.data.about.skills.gulp }}
	.skill
		.title Bower/npm
		.descr  {{ site.data.about.skills.bower }}
	.skill
		.title Git
		.descr  {{ site.data.about.skills.git }}
	.skill
		.title Jekyll
		.descr  {{ site.data.about.skills.jekyll }}
			

//- h2.about-title Мои  интересы
//- p В повседневной жизни я читаю книги, играю на гитаре, катаюсь на роликах. Люблю смотреть фильмы с друзьями, ходить на концерты и слушать музыку. 
//- p Еще я веду блог, где пишу про веб и все что с ним связано - 
//- 	a(href="/articles/") сюда
//- 	| .



// end about