/* 
	-----------------------------------------------
		ABOUT MAIN PAGE
	-----------------------------------------------
*/

.about {
	// height: 110vh;
	padding-top: 150px;
}


// Foto and Text
//--------------------------------
.about-foto-text {
	margin-bottom: 80px;
}

.about-foto {
	max-width: 380px;
	max-height: 380px;
	width: 100%;
	height: 100%;
	background-image: url(../img/jpg/my-test.jpeg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	border-radius: 50%;
}


.about-right {
	padding-top: 50px;
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 65px;
	font-size: 18px;
	
	p:first-child {
		margin-bottom: 35px;
	}
}

.about-btn-wrap {
	text-align: right;
}


// Skills
//--------------------------------
.about-skills {

}

.skills-title {

}


.skills-list {
	@include list();
	
	max-width: 640px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		margin-bottom: 12px;
	}
}

.skills-bar-title {
	margin-bottom: 5px;
	font-size: rem(16);
}

.skills-bar {
	width: 270px;
	height: 8px;
	background-color: #e6e6e6;

	position: relative;
}

.skills-inner-bar {
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $ocean;
}
